/*$box-shadow: 0 4.1px 20.1px -6px rgba(0, 0, 0, 0.1),
		  0 13.6px 67.7px -6px rgba(0, 0, 0, 0.06),
		  0 61px 303px -6px rgba(0, 0, 0, 0.04);*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 112.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 87.5%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 75%; } }

body {
  max-width: 80rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #808d99;
  font-weight: 400;
  line-height: 1.6; }

.mb {
  margin-bottom: 1.4rem; }

.heading-primary, .heading-secondary, .heading-tertiary {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  text-transform: capitalize; }

.heading-primary {
  font-size: 2rem;
  font-weight: 600; }
  @media (max-width: 75em) {
    .heading-primary {
      font-size: 1.8rem; } }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 1.6rem; } }

.heading-secondary {
  font-size: 1.8rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 1.6rem; } }

.heading-tertiary {
  font-size: 1.6rem; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.4rem;
      text-align: center; } }
  @media (max-width: 29.9em) {
    .heading-tertiary {
      font-size: 1.2rem; } }

.hero {
  background: #ebfbff url("../images/bg-hero-desktop.svg");
  padding: 2.5rem 5.9% 3.88rem; }
  @media (max-width: 29.9em) {
    .hero {
      background: #ebfbff url("../images/bg-hero-mobile.svg"); } }
  .hero__sub {
    display: grid;
    grid-template-columns: 1.2fr 1.4fr;
    grid-column-gap: 4rem; }
    @media (max-width: 37.5em) {
      .hero__sub {
        grid-template-columns: unset;
        grid-row-gap: 4rem; } }
  .hero__box {
    font-family: "Open Sans", sans-serif;
    color: #00252e;
    align-self: center; }
  .hero__info {
    margin-bottom: 1.4rem; }
  .hero__btn:link, .hero__btn:visited {
    padding: 1rem 3.8rem; }
  .hero__mockup {
    max-width: 37.77rem;
    width: 100%; }
    .hero__mockup img {
      width: 100%; }

.btn,
.btn:link,
.btn:visited {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: .88rem;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border-radius: 1.66rem;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  background-color: #ff52bf;
  color: #ebfbff;
  transition: all .2s; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.45);
    background-color: #ff4cbd; }
  @media (max-width: 37.5em) {
    .btn,
    .btn:link,
    .btn:visited {
      font-size: 100%; } }

.cta {
  width: 40%;
  margin: 0 auto;
  margin-top: -6rem;
  padding: 4.4rem 8% 2.7rem;
  box-shadow: 0.5px 1px 0.5rem rgba(128, 141, 153, 0.2);
  border-radius: 0.83rem;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 75em) {
    .cta {
      padding-top: 3.5rem; } }
  @media (max-width: 56.25em) {
    .cta {
      padding-top: 2.5rem;
      width: 50%; } }
  @media (max-width: 37.5em) {
    .cta {
      padding: 3rem 8% 2rem;
      width: 60%; } }
  @media (max-width: 29.9em) {
    .cta {
      width: 75%; } }
  .cta__btn:link, .cta__btn:visited {
    align-self: center;
    padding: 1rem 5.2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-top: 25px; }

.features {
  background-color: white;
  padding: 8.6rem 5.55rem 15rem; }
  @media (max-width: 75em) {
    .features {
      padding-top: 7rem;
      padding-bottom: 12rem; } }
  @media (max-width: 56.25em) {
    .features {
      padding: 6.4rem 4rem 12rem; } }
  @media (max-width: 37.5em) {
    .features {
      padding-left: 2.2rem;
      padding-right: 2.2rem; } }
  .features .feature {
    padding: 2.77rem 1.66rem 3rem 6rem;
    border-radius: 15px;
    box-shadow: 0.5px 1px 0.5rem rgba(128, 141, 153, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 29.9em) {
      .features .feature {
        flex-direction: column;
        padding: 2.77rem 4.4rem 3rem; } }
    .features .feature:not(:last-child) {
      margin-bottom: 2.22rem; }
    @media (max-width: 29.9em) {
      .features .feature__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        text-align: center; } }
    @media (max-width: 29.9em) {
      .features .feature__content:first-child {
        order: 2;
        margin-top: 5.5rem; } }
    .features .feature__content:nth-child(2n) {
      margin-left: 10%; }
      @media (max-width: 29.9em) {
        .features .feature__content:nth-child(2n) {
          margin-left: 0;
          margin-top: 5.5rem;
          order: 2; } }
    @media (max-width: 29.9em) {
      .features .feature__text {
        text-align: center;
        letter-spacing: 0.04em;
        margin-top: 2rem; } }
    .features .feature .card {
      margin-left: 12%; }
      @media (max-width: 29.9em) {
        .features .feature .card {
          margin-left: 0; } }
      .features .feature .card:not(:nth-child(2n)) {
        margin-left: 0; }
      .features .feature .card img {
        width: 100%; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3.6rem; }
  .header .logo {
    height: 40px; }
    @media (max-width: 37.5em) {
      .header .logo {
        height: 20px; } }
  .header__btn:link, .header__btn:visited {
    padding: 0.9rem 3.72rem;
    background-color: white;
    color: #00252e;
    font-size: .77rem;
    box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.45); }
    .header__btn:link:hover, .header__btn:visited:hover {
      background-color: #fcfcfc; }
    @media (max-width: 37.5em) {
      .header__btn:link, .header__btn:visited {
        font-size: 100%; } }

.footer {
  color: #ebfbff;
  background-color: #00252e;
  font-size: .77rem;
  padding: 8.6rem 5.55rem 3.33rem;
  margin-top: -6rem; }
  @media (max-width: 56.25em) {
    .footer {
      font-size: 100%; } }
  @media (max-width: 37.5em) {
    .footer {
      font-size: 100%; } }
  @media (max-width: 29.9em) {
    .footer {
      padding: 8.6rem 6% 3.33rem;
      font-size: 100%; } }
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1.11rem;
    justify-items: center; }
    @media (max-width: 56.25em) {
      .footer__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); } }
    @media (max-width: 37.5em) {
      .footer__wrapper {
        grid-template-columns: repeat(3, 150px); } }
    @media (max-width: 29.9em) {
      .footer__wrapper {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: unset;
        grid-row-gap: 0; } }
  .footer .logo {
    filter: brightness(0) invert(1);
    margin-bottom: 2.22rem; }
    @media (max-width: 37.5em) {
      .footer .logo {
        height: 20px; } }
  .footer__nav {
    list-style-type: none; }
    @media (max-width: 56.25em) {
      .footer__nav:first-child {
        grid-column: span 2; } }
    @media (max-width: 29.9em) {
      .footer__nav:first-child {
        grid-column: unset; } }
  .footer__nav:last-of-type {
    display: flex; }
    @media (max-width: 75em) {
      .footer__nav:last-of-type {
        justify-self: flex-start; } }
    @media (max-width: 29.9em) {
      .footer__nav:last-of-type {
        justify-self: center; } }
    .footer__nav:last-of-type li {
      margin-right: 10px; }
    .footer__nav:last-of-type a {
      width: 1.77rem;
      height: 1.77rem;
      border: 1px solid #ebfbff;
      border-radius: 50%;
      transition: all .2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 56.25em) {
        .footer__nav:last-of-type a {
          width: 1.2rem;
          height: 1.2rem; } }
      .footer__nav:last-of-type a:hover {
        background-color: white;
        transform: scale(1.2); }
        .footer__nav:last-of-type a:hover img {
          filter: brightness(0) invert(0); }
    .footer__nav:last-of-type img {
      filter: brightness(0) invert(1);
      width: 18px; }
      @media (max-width: 56.25em) {
        .footer__nav:last-of-type img {
          width: 12px; } }
      @media (max-width: 37.5em) {
        .footer__nav:last-of-type img {
          width: 10px; } }
  @media (max-width: 37.5em) {
    .footer__nav:nth-child(2) {
      grid-column: 1 / 2;
      justify-self: self-start; } }
  @media (max-width: 56.25em) {
    .footer__nav:nth-child(3) {
      justify-self: flex-start; } }
  @media (max-width: 37.5em) {
    .footer__nav:nth-child(3) {
      grid-column: 2 / 2; } }
  @media (max-width: 29.9em) {
    .footer__nav:nth-child(3) {
      grid-column: unset; } }
  .footer li {
    margin-bottom: 20px; }
  .footer__item--info {
    display: flex;
    align-items: flex-start;
    /*a[href^="mail"] {
			border-bottom: 1px solid $color-cyan-light;
		}

		img[alt="email"] {
			border-top: 5px solid transparent;
		}*/ }
    .footer__item--info img {
      margin-right: 15px; }
    .footer__item--info:first-child img {
      transform: translateY(0.3rem);
      margin-right: 15px;
      height: 18px; }
  .footer__link, .footer__visited {
    display: inline-block;
    text-decoration: none;
    color: #ebfbff; }
    .footer__link::after, .footer__visited::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background-color: #ebfbff;
      transition: width .3s; }
    .footer__link:hover::after, .footer__visited:hover::after {
      width: 100%; }
  .footer__text {
    text-align: right; }
    @media (max-width: 37.5em) {
      .footer__text {
        text-align: left; } }
